<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
<%@page import="java.sql.ResultSet"%>
<%@page import="classes.ClsProveedor"%>
<%@ page import="java.sql.*, javax.sql.*, java.io.*, javax.naming.*" %>
-->

<html>
    <head>
        <title>Hello world from JSP</title>
        <!-- style css -->
        <link rel="stylesheet" href="archivos/css/styles.css">
    </head>
    <body>


        <form name="f1" action="TblProveedor.html">
            <%
            String vresult="";
            String vIDPROVEEDOR = request.getParameter("TxtIDPROVEEDOR");
            String vNOMBRE = request.getParameter("TxtNOMBRE");
            String vDIRECCION = request.getParameter("TxtDIRECCION");
            String vTELEFONO = request.getParameter("TxtTELEFONO");
            String vCORREO_ELECTRONICO = request.getParameter("TxtCORREO_ELECTRONICO");
            String vPAIS = request.getParameter("TxtPAIS");
            String vCEDULA_JURIDICA = request.getParameter("TxtCEDULA_JURIDICA");

            try{
            if (vIDPROVEEDOR.equals("null")){
            }else{
            ClsProveedor proveedor = new ClsProveedor();
            proveedor.Conectar();
            switch(request.getParameter("btnop")){
            case "s":
            vresult =   proveedor.InsertarProveedor(Integer.parseInt(vEmployeeID), vFirstName, vLastName, vTitle, vBirthDate, vAddress, vCity, vHomePhone);
            empleado.desconectar();
            if (vresult.equals("S")){

            System.out.println("<script>alert('Guardado');</script>");

            }else{
            System.out.println("<script>alert('"+ vresult +"');</script>");

            }
            //empleado.GuardarEmpleado(vEmployeeID, vFirstName, vLastName, vTitle, vBirthDate, vAddress, vCity, vHomePhone);
            break;

            case "e":
            vresult =   empleado.ModificarEmpleado(Integer.parseInt(vEmployeeID), vFirstName, vLastName, vTitle, vBirthDate, vAddress, vCity, vHomePhone);
            empleado.desconectar();
            break;

            case "d":
            vresult =   empleado.EliminarEmpleado(Integer.parseInt(vEmployeeID));
            empleado.desconectar();
            break;

            case "f":
            break;

            case "Select":

            break;
            }
            }

            }catch(Exception Ex){
            vEmployeeID ="";
            vFirstName  ="";
            System.out.println("<script>alert('"+ Ex +" "+vresult +"');</script>");
            }

            %>
            <table >
                <tr>
                    <td>EmployeeID :</td><td><input id="rcorners1" type="text" name="TxtEmployeeID" value="<%=vEmployeeID %>"></td>
                </tr>
                <tr>
                    <td>FirstName :</td><td><input id="rcorners1" type="text" name="TxtFirstName" value="<%=vFirstName %>"></td>
                </tr>
                <tr>
                    <td>LastName :</td><td><input id="rcorners1" type="text" name="TxtLastName" value="<%=vLastName%>"></td>
                </tr>
                <tr>
                    <td>Title :</td><td><input id="rcorners1" type="text" name="TxtTitle" value="<%= vTitle %>"></td>
                </tr>
                <tr>
                    <td>BirthDate :</td><td><input id="rcorners1" type="text" name="TxtBirthDate" value="<%=vBirthDate %>" ></td>
                </tr>
                <tr>
                    <td>Address :</td><td><input id="rcorners1" type="text" name="TxtAddress" value="<%= vAddress %>" ></td>
                </tr>
                <tr>
                    <td>City :</td><td><input id="rcorners1" type="text" name="TxtCity" value="<%=vCity %>"></td>
                </tr>
                <tr>
                    <td>HomePhone :</td><td><input id="rcorners1" type="text" name="TxtHomePhone" value="<%=vHomePhone %>"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <!-- <input type="button" name="btop" src="archivos/img/save.png"   id="Guradar">-->
                        <button  name="btnop" value="s" ><img src="archivos/img/save.png"><br>  Guradar  </button>
                        <button  name="btnop" value="e" ><img src="archivos/img/edit.png"><br>  Modificar </button>
                        <button  name="btnop" value="f" ><img src="archivos/img/find.png"><br>  Buscar </button>
                        <button  name="btnop" value="d" ><img src="archivos/img/delete.png"><br>    Eliminar </button>
                    </td>

                </tr>
            </table>
        </form>
        <div style="max-height: 150px; width: 400px; overflow-y: scroll;">
            <table border="1" >
                <tr>
                    <td>Cedula</td><td>Nombre</td><td>Apellido</td><td>Accion</td>
                </tr>
                <%
                ResultSet rs;

                try {
                ClsProveedor vProveedor = new ClsProveedor();
                vProveedor.Conectar();

                if (vEmployeeID.equals("")){
                rs = vEmpleado.buscarEmpleado("a", "Lista");
                }else if(request.getParameter("btnop").equals("Select")){
                rs = vEmpleado.buscarEmpleado(vEmployeeID, "C");
                }else{
                rs = vEmpleado.buscarEmpleado("a", "Lista");
                }

                while(rs.next()) {
                %>
                <tr>
                <form name="formFila" action="index.jsp" method="get">
                    <td><%= rs.getString("EmployeeID") %></td><td><%= rs.getString("FirstName") %></td> <td><%= rs.getString("LastName") %></td> <td><input type="submit" name="btnop" value="Select"> <input type="submit" name="btnop" value="X"></td>
                    <input type="hidden" name="TxtEmployeeID" value="<%=rs.getString("EmployeeID")%>">
                           <input type="hidden" name="TxtFirstName" value="<%=rs.getString("FirstName")%>">

                           <input type="hidden" name="TxtLastName" value="<%=rs.getString("LastName")%>">
                           <input type="hidden" name="TxtTitle" value="<%=rs.getString("Title")%>">
                           <input type="hidden" name="TxtBirthDate" value="<%=rs.getString("BirthDate")%>">
                    <input type="hidden" name="TxtAddress" value="<%=rs.getString("Address")%>">
                           <input type="hidden" name="TxtCity" value="<%=rs.getString("City")%>">
                           <input type="hidden" name="TxtHomePhone" value="<%=rs.getString("HomePhone")%>">


                </form>
                </tr>
                <%
                }
                }catch(Exception Ex){
                System.out.println(" "+ Ex.getMessage());
                } 
                %>
            </table>
        </div>
    </body>
</html>
